.contact{
    display:flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.section-title{
    font-size: 32px;
    font-weight: 700;
    color: white;
}

#contact-container{
    width: 1200px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: white;
    justify-content: center;
    align-items: center;
}

.contact-info{
    background-color: #353435;
    border-radius: 4px;
    padding: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    width: 300px;
    box-shadow: 1px 1px 20px #7b2cbf,
                -1px 1px 20px #7b2cbf,
                1px 1px 20px #7b2cbf;
    justify-content: center;
    align-items: center;
    
}
.button{
    background-color: #7b2cbf;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    width: 81px;
    display: flex;
    flex-direction: column;
}

h4{
    font-size: 2rem;
    font-weight: 500;
    margin-top: 0;
    text-align: center;
}
p{
    color: white;
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 2rem;
}
.icon-text{
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.fa{
    flex: 0 0 40px;
    font-size: 1.8rem;
    margin-right: 2rem;
}
span{
    font-size: 1.1rem;
    font-weight: 100;
}

.contact-left{
    max-width: 60%;
    font-size: 20px;
    text-align: center;
}

.download{
    background-color: #353435;
    padding: 8px 16px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.download a{
    text-decoration: none;
    color:white;
}

@media only screen and (max-width: 720px){
    .contact-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact-left{
        max-width: 100%;
        font-size: 16px;
        margin-bottom: 12px;
    }
    .download{
        font-size: 16px;
    }
}


/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #555455;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul{
    padding: 6px;
}

li{
    list-style: none;
    float: left;
    position: relative;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #353435; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background: rgba(78,9,121);
    color: white;
    padding: 12px 20px;
    border: 0px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #bd68ee;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #555455;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items:center
}

.resume-btn{
    margin-top: 30px;
}

