.contact{
    display:flex;
    flex-direction: column;
    flex: 1;
}

.section-title{
    font-size: 32px;
    font-weight: 700;
    color: white;
}

#contact-container{
    width: 1200px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    background: white;
}

.contact-info{
    background-color: #353435;
    border-radius: 4px;
    padding: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    width: 320px;
    box-shadow: 1px 1px 20px #7b2cbf,
                -1px 1px 20px #7b2cbf,
                1px 1px 20px #7b2cbf;
}

h4{
    font-size: 2rem;
    font-weight: 500;
    margin-top: 0;
}
p{
    color:aliceblue;
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 2rem;
}
.icon-text{
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.fa{
    flex: 0 0 40px;
    font-size: 1.8rem;
    margin-right: 2rem;
}
span{
    font-size: 1.3rem;
    font-weight: 300;
}

.contact-left{
    max-width: 60%;
    font-size: 20px;
    text-align: center;
}

.download{
    background-color: #7b2cbf;
    padding: 8px 16px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.download a{
    text-decoration: none;
    color:white;
}

@media only screen and (max-width: 720px){
    .contact-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact-left{
        max-width: 100%;
        font-size: 16px;
        margin-bottom: 12px;
    }
    .download{
        font-size: 16px;
    }
}


/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #555455;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul{
    padding: 6px;
}

li{
    list-style: none;
    float: left;
    position: relative;
}